# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environment
.env
venv/
.env.local
.env.production

# Node / React
node_modules/
dist/
build/

# Uploads
uploads/
uploaded_docs/

# System
.DS_Store
*.swp

# Docker
*.pid
*.sock
